img {
    height: 200px;
    width: 200px;
}

body {
    height: 100%;
    color: oldlace;
    background-color: rgb(231, 20, 20);
    background-image: url("https://wallpapertag.com/wallpaper/middle/9/5/f/237329-large-camping-wallpaper-1920x1440-high-resolution.jpg");
    background-size: 100%;
}
