/* html {
    height: 100%
} */
body {
    width:800px;

    margin: 0 auto;

    padding-top: 5px;

    height: 100%;

}

header{
    background-color: rgb(10, 73, 10);

    color:white;

    text-align: center;

    padding: 5px;

    font-size: 20px;

    display: block;

    width: 790px;

}

h1 {
    margin:auto;
    background-color: rgb(10, 73, 10);

    color:white;

    text-align: center;

    padding: 5px;

    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: block;

    width: 790px;
}

#navagation {
    margin: 0 auto;
}

nav {
    /* line-height:30px; */
    width: 800px;
    text-align: center;

    background-color:tan;

    /* min-height: 100%;


    display: inline-block;

    /* vertical-align: top; */

    font-size: 18px;

}

nav ul li {
    display: inline-block;
    margin: 10px 20px 15px;

    text-align: center;

    /* margin: 0 auto; */

    font-size:30px;
}

img {
    height:500px;
    width:800px;
}

ul li {
    /* list-style-type: none; */

    font-size: 25px;
}

#locations ul li{
    margin-top: 10px;
    margin-bottom: 10px;
}